<header>
	<nav>
		<ul>
			<li>
				<strong>
					<a href="{{ path('app_characters')}}">Star Wars Api
					</a>
				</strong>
			</li>
		</ul>
		<ul>
			<li><a href="{{path('app_characters')}}">Personnages</a></li>
			<li><a href="{{ path('app_movies')}}">Films</a></li>
			<li><a href="{{ path('app_starships')}}">Vaisseaux</a></li>
			<li><a href="{{ path('app_vehicles')}}">Véhicules</a></li>
			<li><a href="{{ path('app_planets')}}">Planétes</a></li>

		</ul>
	</nav>
</header>
