{% extends 'base.html.twig' %}

{% block title %}
	{{ movie.title }}
{% endblock %}


{% block body %}

	<article>
		<header>
			{{ movie.title  }}
		</header>
		<ul>
			<li>
				Film N° :
				{{ movie.episode_id }}</li>
			<li>
				Directeur :
				{{ movie.director }}</li>
			<li>
				Producteur :
				{{ movie.producer }}</li>

			<li>
				Année de sortie :
				{{ movie.release_date }}</li>
			<li>
				Synopsis :
				{{ movie.opening_crawl }}</li>

		</ul>
	</article>
{% endblock %}
